.DS_Store

git/gitconfig.local.symlink

ssh.symlink

bugwarrior.secret
taskWorkProjectUrgency

config.symlink/gcloud
config.symlink/configstore
config.symlink/direnv/allow/*
config.symlink/karabiner/automatic_backups
