{
  "*": {
    "atom-ide-ui": {
      "atom-ide-code-format": {
        "formatOnSave": true
      },
      "atom-ide-diagnostics-ui": {},
      "use": {}
    },
    "autocomplete-flow": {},
    "autocomplete-python": {
      "useKite": false
    },
    "core": {
      "disabledPackages": [
        "linter"
      ],
      "hideGitIgnoredFiles": false,
      "telemetryConsent": "limited",
      "themes": [
        "one-dark-ui",
        "monokai"
      ]
    },
    "editor": {
      "fontFamily": "Menlo Regular",
      "fontSize": 11,
      "invisibles": {},
      "scrollPastEnd": true,
      "showInvisibles": true,
      "softTabs": false,
      "tabLength": 4
    },
    "exception-reporting": {
      "userId": "4fcd2bec-2eac-6f6b-f18e-07ded07847a9"
    },
    "jslint": {
      "validateOnSave": false
    },
    "linter": {},
    "linter-eslint": {
      "disableFSCache": true,
      "fixOnSave": true
    },
    "linter-flow": {
      "executablePath": "./node_modules/.bin/flow"
    },
    "linter-ui-default": {
      "panelHeight": 69,
      "showPanel": true
    },
    "metrics": {
      "userId": "352f3ca5a6c75d15bba3a83230f85e64aca3a111"
    },
    "one-dark-ui": {},
    "prettier-atom": {
      "formatOnSaveOptions": {
        "enabled": true,
        "isDisabledIfNoConfigFile": true,
        "isDisabledIfNotInPackageJson": true,
        "whitelistedGlobs": [
          "*.json"
        ]
      }
    },
    "tree-view": {},
    "vim-mode-plus": {
      "blackholeRegisteredOperators": [
        "change*"
      ],
      "keymapPToPutWithAutoIndent": true,
      "keymapYToYankToLastCharacterOfLine": true
    },
    "welcome": {
      "showOnStartup": false
    }
  },
  ".bibtex.text": {
    "editor": {
      "softWrap": true
    }
  },
  ".latex.tex.text": {
    "editor": {
      "softWrap": true
    }
  },
  ".pug.source": {
    "editor": {
      "tabLength": 2
    }
  },
  ".source.yaml": {
    "editor": {
      "tabLength": 2
    }
  },
  ".tex.text": {
    "editor": {
      "softWrap": true
    }
  },
  "package.json.source": {
    "editor": {
      "tabLength": 2
    }
  }
}
